{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="image-container">

        <form action="/metodo1/" method="POST">
            {% csrf_token %}
            <button type="submit">Metodo1</button>
        </form>

        <form action="/metodo2/" method="POST">
            {% csrf_token %}
            <button type="submit">Metodo2</button>
        </form>

        <form action="/metodo3/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo3</button>
        </form>

        <form action="/metodo4/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo4</button>
        </form>

        <form action="/metodo5/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo5</button>
        </form>

        <form action="/metodo6/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo6</button>
        </form>

        <form action="/metodo7/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo7</button>
        </form>

        <form action="/metodo8/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo8</button>
        </form>

        <form action="/metodo9/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo9</button>
        </form>

        <form action="/metodo10/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo10</button>
        </form>

        <form action="/metodo11/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo11</button>
        </form>

        <form action="/metodo12/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo12</button>
        </form>

        <form action="/metodo13/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo13</button>
        </form>

        <form action="/metodo14/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo14</button>
        </form>

        <form action="/metodo15/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo15</button>
        </form>

        <form action="/metodo16/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo16</button>
        </form>

        <form action="/metodo17/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo17</button>
        </form>

        <form action="/metodo18/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo18</button>
        </form>

        <form action="/metodo19/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo19</button>
        </form>

        <form action="/metodo20/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo20</button>
        </form>

        <form action="/metodo21/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo21</button>
        </form>

        <form action="/metodo22/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo22</button>
        </form>

        <form action="/metodo23/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo23</button>
        </form>

        <form action="/metodo24/" method="POST">
            {% csrf_token %}
            <button type="submit">metodo24</button>
        </form>




  



    </div>
{% endblock %}